<%= render "shared/header"%>

<div class="container-fluid">
  <div class="row">

  <%= render "shared/nav-bar"%>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%# メイン画面のヘッダー部分 %>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">削除完了ページ</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">
            <%= link_to '新規作成（開発者用）', new_menu_path %>
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
            Export
            </button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
      <%# //メイン画面のヘッダー部分 %>
      <%# メイン画面の内容部分 %>
      <div>
      メニューが削除されました。
      <div>
      <%= link_to 'メニュートップへ戻る', menus_path %>
      <%# //メイン画面の内容部分 %>
  </div>
</div>