<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">
    このスペースがフッター
    <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
    <i class="bi bi-telephone-inbound-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
    <i class="bi bi-globe2" style="font-size: 2rem; color: cornflowerblue;"></i>
    </span>
  </div>
</footer>