<footer class="footer bg-dark">
  <div class="container d-flex justify-content-center">
    <span class="text-muted">
      <a class="navbar-brand" href="/">
      <i class="bi bi-globe2" style="font-size: 2rem; color: cornflowerblue;">Fokus</i>
      </a>
    </span>
  </div>
</footer>