<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 text-info">実績モード</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-light">
      <%= link_to '新メニュー作成（開発者用）', new_menu_path, class:"link-text td-none" %>
      </button>
      <button type="button" class="btn btn-sm btn-outline-light">
      Export
      </button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-light dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>