<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 text-green">メニューモード</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to '新メニュー作成（開発者用）', new_menu_path, class:"btn btn-success p-2" %>
  </div>
</div>