.bg-gd-black {
  background-image: linear-gradient(to left, #434343 0%, black 100%);
}

.td-none {
  text-decoration: none;
}

.td-none:hover {
  text-decoration: none;
}

.link-text {
  /* display: inline-block; */
  /* padding: 0.35em 0.65em; */
  font-size: 1em;
  font-weight: 700;
  /* line-height: 1; */
  color: #fff;
  /* text-align: center; */
  /* white-space: nowrap; */
  /* vertical-align: baseline; */
  /* border-radius: 0.25rem; */
}