/* html {
  position: relative;
  min-height: 100vh;
} */

.bg-gd-black {
  background-image: linear-gradient(to left, #434343 0%, black 100%);
}

.td-none {
  text-decoration: none;
}

.td-none:hover {
  text-decoration: none;
}

.link-text {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
